@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

input::placeholder,
textarea::placeholder {
    color: gray;
}

.add-product > input:focus,
.add-product > textarea:focus {
    border: 2px solid #b60213 !important;
}

label {
    display: block;
    color: #fff;
    margin-top: 15px
}

body {
    background: #000;
    font-family: 'Roboto', sans-serif;
}

body.blur-effect::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: 5;
}

/* success message  */
.success {
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    z-index: 10;
    box-shadow: rgba(253, 253, 253, 0.12) 0px 2px 4px 0px, rgba(253, 253, 253, 0.32) 0px 2px 16px 0px;
    overflow: hidden;
}

.success .success-status {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #45c55c;
    color: #fff;
    margin-right: 10px
}

.success .success-status i {
    font-size: 40px;
}

.success .massage-content {
    width: 75%;
}

.success .massage-content span {
    font-size: 20px;
}

.success .massage-content p {
    color: rgb(172, 164, 164)
}

/* unsuccess message  */

.unsuccess {
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    z-index: 10;
    box-shadow: rgba(253, 253, 253, 0.12) 0px 2px 4px 0px, rgba(253, 253, 253, 0.32) 0px 2px 16px 0px;
    overflow: hidden;
}

.unsuccess .unsuccess-status {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fc5c5b;
    color: #fff;
    margin-right: 10px
}

.unsuccess .unsuccess-status i {
    font-size: 40px;
}

.unsuccess .massage-content {
    width: 75%;
}

.unsuccess .massage-content span {
    font-size: 20px;
}

.unsuccess .massage-content p {
    color: rgb(172, 164, 164)
}


/* header section start  */

.header-section {
    background-size: 100%;
    padding: 15px 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff
}

.list {
    position: relative;
}

.list ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.list ul.active {
    right: 0;
}

.list ul > li#close {
    display: none;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.open-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.list ul > li {
    padding: 7px;
    font-size: 18px;
    text-transform: uppercase;
    color: #080808;
    border-radius: 40px;
    margin-top: 30px;
}

.list-item.basket-icon {
    margin-top: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item.basket-icon > a i{
    font-size: 20px;
    position: absolute;
    z-index: 100;
    bottom: 28px;
    right: -10%;
    color: #080808;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s all ease;
}

.cart-detail-box{
    width: 400px;
    height: auto;
    min-height: 120px;
    background: #fff;
    position: absolute;
    z-index: 1000;
    border-radius: 20px;
    right: -70%;
    top: 75px;
    border: 2px solid #b60213;
    display: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cart-detail-box > div.title {
    display: flex;
    width: 100%;
    height: 40px;
    background: #b60213;
    justify-content: space-between;
    padding: 10px 15px;
    color: #fff;
}

.cart-detail-box .product-detail-container {
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}

.delete-icon-container {
    width: 20%;
}

.delete-icon-container i {
    font-size: 20px;
    transition: all 0.3s ease;
}

.delete-icon-container i:hover {
    color: #b60213;
    cursor: pointer;
}

.cart-detail-box .product-box {
    width: 100%;
    padding: 0 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
}

.product-details-container {
    text-align: left;
    padding-top: 35px;
    width: 50%;
}

.product-details-container .product-price {
    color: gray;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding-right: 15px;
}

.product-details-container .product-price .product-quantity {
    margin-top: 5px;
}

.product-details-container .product-price .product-quantity >i {
    color: #b60213
}

.cart-detail-box .price{
    font-size: 18px;
    margin-top: 4px;
}

.cart-detail-box .product-img-container {
    max-width: 30%;
    width: 100px;
    height: 80px;
    background: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.cart-detail-box  img {
    width: 60px;
    height: 60px;
}

.cart-detail-box .total-price-container {
    width: 80%;
    height: 50px;
    padding-left: 15px;
    display: flex;
    margin-top: 7px;
    margin-left: 20px;
    font-size: 18px;
    padding-top: 15px;
}

.cart-detail-box .button-container {
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 15px 0;
}

.button-container > button {
    color: #fff;
    border: 0;
    outline: 0;
    width: 95%;
    background: #b60213;
    border-radius: 10px;
    height: 100%;
    font-size: 18px;
    transition: all 0.5s ease;
}

.button-container > button:hover {
    cursor: pointer;
    background: #9b0110;
}


.list-item.basket-icon a i:hover  {
    background-color: #b60213;
    color: #fff;
}

.list ul > li a{
    color: #080808;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s all ease;
}

.fa-solid.fa-user {
    color: #b60213;
    font-size: 20px;
}

.fa-solid.fa-angle-down,
.fa-solid.fa-angle-up {
    cursor: pointer;
    position: relative;
}

.list-item.admin {
    user-select: none;
    position: relative;
}

#admin-links {
    display: none;
    position: absolute;
    top: 35px; 
    left: 0;
    background-color: #fff;
    width: max-content;
    z-index: 999;
    display: none;
    text-transform: capitalize;
}

#admin-links a {
    display: block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    margin-top: 5px;
    text-align: center;
    border-radius: 0;
}

#admin-links a:hover {
    background-color: #b60213;
    color: #fff;
}

.list ul > li a:hover {
    background-color: #b60213;
    color: #fff;
}

/* header section finished  */

/* home page start  */
.banner_section {
    width: 100%;
    height: 480px;
    background-image: url('../images/banner-bg.png');
    /* background-image: url('../images/watches/dog.png'); */
    background-size: cover;
    background-position: center 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.banner_title {
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner_text {
    font-size: 18px;
    width: 65%;
    margin: 0 auto 60px auto;
    line-height: 25px;
}

.read_bt a {
    font-size: 16px;
    color: #ffffff;
    background-color: #b60213;
    padding: 15px 50px;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.read_bt a:hover {
    background-color: #ffffff;
    color: #000;
}

.our-watches {
    color: #fff;
    margin: 100px auto 20px auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 50px;
}

.our-watches h2.title {
    text-transform: uppercase;
    font-size: 35px;
    margin-right: 250px;
}

.our-watches > div {
    height: 2px;
    width: 400px;
    background: #fff;
}

.watch-product {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-color: #000;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}

.watch.first-watch,
.watch.second-watch {
    border: 1px solid #b60213;
}

.watch {
    width: 50%;
    text-align: center;
    margin-right: 30px; 
}

.watch img {
    width: 100%; 
    height: 100%;
    max-width: 350px;
}

.watch .img-1 {
    height: 350px;
}

.watch-detail {
    width: 50%;
    padding-left: 30px;
    color: #ffffff;
}

.watch-detail .title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.description {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.7;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.price .dollar {
    color: #b60213;
    font-size: 28px;
}

/* carousel section  */
.carousel-section {
    width: 100%;
    height: 630px;
    background: #262626;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.featured-product {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.featured-product p {
    color: #fff;
    font-size: 22px;
    margin: -100px 20px 0 0px;
}

.featured-product > div {
    background: #404040;
    height: 2px;
    width: 1420px;
    margin-top: -100px;
}

.carousel-container {
    width: 1630px;
    position: relative;
    margin: 0 auto;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 auto;
}

.carousel-track {
    width: 100%;
    display: flex;
    gap: 20px;
}

.carousel-item {
    width: 310px;
    height: 380px;
    background: #000;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.carousel-item img {
    width: 305px;
    height: 245px;
    object-fit: contain;
}

.navigation {
    color: #404040;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #404040;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.navigation:hover {
    color: #b60213;
    border-color: #b60213;

}

.prev {
    left: -70px;
}

.next {
    right: -70px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.read_bt.see-more {
    width: fit-content;
    margin: -50px auto 70px auto;
}


/* feedback  */
.feedback-area {
    position: relative;
    width: 100%;
    height: 750px;
    background-image: url(../images/feedback-bg.jpg);
    /* background-image: url('../images/watches/dog.png'); */
    background-position: center left;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 100px;
    z-index: 1;
}

.feedback-area:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.feedback-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding-top: 100px;
}

.feedback-title .title {
    font-size: 64px;
    line-height: 74px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.feedback-title > p{
    font-size: 20px;
    line-height: 30px;
    max-width: 660px;
}

.comments-container {
    width: 80%;
    margin: 70px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.comments {
    width: 500px;
    height: 350px;
    text-align: center;
    background-color: #FFFFFF0A;
    padding: 40px 20px;
}

.comments img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.comments h5 {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
}

.comments span {
    color: #fff;
}

.comments .ratting {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f0ad4e;
}

.comments p {
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
    color: #7a7a7a;
    max-width: 350px;
    margin: auto;
}
 /* home page finished  */

 /* shop page start  */
.shop-banner {
    width: 100%;
    height: 520px;
    background-image: url('../images/shop-banner.jpg');
    /* background-image: url('../images/watches/dog.png'); */
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    margin: -100px 0 0 0;
    position: relative;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.shop-banner .banner {
    text-align: center;
}

.shop-banner .banner > p {
    color: #a67317;
    margin-top: 70px;
}

.shop-banner .banner > h4 {
    color: #fff;
    margin: 7px 0 13px 0;
    font-size: 35px;
}

.shop-banner .banner {
    color :#393939;
}

/* product section  */
.product-container {
    width: 100%;
    height: auto;
    margin: 150px 0;
}

.product-list {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap :wrap;
    gap: 60px;
    margin: 0 auto;
}

.product-box {
    width: 30%;
    max-width: 450px;
    height: auto;
    text-align: center;
}

.product-img-box {
    width: 100%;
    max-height: 450px;
    background: #262626;
    margin-bottom: 15px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img-box:hover {
    box-shadow: 0 0 15px rgba(38, 38, 38, 0.8);
}

.product-details {
    color: #fff;
    user-select: none;
}

.product-tag {
    margin-bottom: 12px;
}

.product-name {
    background: url('../images/line.png');
    margin-bottom: 15px;
}

#see-more-product {
    background-color: #b60213;
    transition: all 0.5s ease;
    border-radius: 30px;
    color: #fff;
    border: 0; 
    outline: 0;
    display: block;
    align-self: center
}

#see-more-product p{
    font-size: 16px;
    padding: 15px 50px;
    font-weight: bold;
}

#see-more-product:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/* shop carousel */
.shop-carousel-container {
    width: 100%;
    height: auto;
    margin: 0 auto 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-carousel-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
    width: 100%;
    height: 100%;
    overflow-x: auto; 
    flex-wrap: nowrap;
}


.shop-carousel-item {
    flex: 0 0 25%;
    height: 100%;
}

.shop-carousel-item > img {
    width: 100%;
    height: 100%;
    display: block;
}

.shop-carousel-list::-webkit-scrollbar {
    display: none;
}


/* sign up && sign in && add product && add user forms  */
.sign-up-container,
.sign-in-container,
.add-product-container,
.add-user-container {
    width: 100%;
    /* height: auto; */
    height: 65vh;
    padding: 50px 0 100px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-form,
.sign-in-form,
.add-product-form,
.add-user-form {
    width: 50%;
    height: auto;
}

.sign-up-title,
.sign-in-title,
.add-product-title,
.add-user-title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 30px 0;
}

.sign-up,
.sign-in,
.add-product,
.add-user{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 20px;
    gap: 15px;
}

div.edit-product-submit {
    width: 300px
}

.sign-up > input,
.sign-in > input,
.add-product > input,
.add-product textarea,
.sign-up-password > input,
.sign-in-password > input,
.add-product-submit > input,
.edit-product-submit > input,
.add-user-container input,
.user-role { 
    width: 90%;
    height: 70px;
    outline: none;
    border: none;
    border-radius: 40px;
    padding-left: 25px;
    font-size: 20px;
    color: #262626;
}

.user-role {
    margin-bottom: 45px;
    margin-top: 15px;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 30px) center;
    background-size: 16px;
    background-color: #fff;
}

.add-user-container input {
    margin-top: 15px;
}

.add-product > .show-img {
    width: 90%;
    height: 120px;
    border-radius: 40px;
    color: #262626;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 8px;
}

.show-img > input[type="file"] {
    width: 80%;
    height: 100%;
    margin-top: 100px;
    font-size: 18px;
    cursor: pointer;
}

.show-img img {
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 90%
}

.add-product > input[type="number"] {
    padding-right: 30px;
}

.add-product > input[type="file"] {
    background: #fff;
    padding-top: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: 30px; 
    width: 30px
}

.add-product textarea {
    height: 120px !important;
    padding-top: 15px;
}


textarea::-webkit-scrollbar {
    display: none;
}

.sign-up-password,
.sign-in-password {
    width: 90%;
    height: 70px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sign-up-password > input,
.sign-in-password > input {
    width: 100% !important;
}

.sign-up-password > i,
.sign-in-password > i {
    position: absolute;
    color:  #262626;
    font-size: 22px;
    right: 40px;
}

.sign-up-password > i:hover,
.sign-in-password > i:hover {
    cursor: pointer;
}

.account p{
    color: #fff;
}

.account p a {
    color: #b60213;
    margin-left: 5px;
    border-bottom: 1px solid #b60213;
}

.add-user-submit {
    width: 200px !important;
}

.add-user-submit input {
    margin-bottom: 15px;
}

.sign-up-submit,
.sign-in-submit,
.add-product-submit,
.edit-product-submit,
.add-user-submit {
    width: 170px;
    height: 60px;
    background-color: #b60213;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.5s ease;
    margin: 0px 0 20px 45px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-submit:hover,
.sign-in-submit:hover,
.add-product-submit:hover,
.edit-product-submit:hover,
.add-user-submit:hover {
    background: #fff;
}

.sign-up-submit:hover > input,
.sign-in-submit:hover > input,
.add-product-submit:hover > input,
.edit-product-submit:hover > input,
.add-user-submit:hover > input {
    color: #000;
}

.sign-up-submit > input,
.sign-in-submit > input,
.add-product-submit > input,
.edit-product-submit > input,
.add-user-submit > input {
    padding: 20px 50px;
    font-weight: bold;
    font-size: 18px;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.sign-up-bg-container {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
}

.sign-up-bg {
    background-image: url('../images/map-img.png');
    /* background-image: url('../images/watches/dog.png'); */
    width: 100%;
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.error-message{
    color: #b60213;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* admin product list start  */

.table-container {
    width: 80%;
    max-height: 600px;
    overflow-y: auto;
    margin: 0px auto 150px auto;
    border-radius: 8px;
    background-color: black;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.table-container.user-list {
    width: 60%;
}

table {
    overflow-x: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    color: white;
    table-layout: fixed;
    border-spacing: 0;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #000;
}

th {
    background-color: #000;
    color: #b60213;
    border: 1px solid #333;
    font-weight: bold;
    position: relative;
    padding: 12px 5px;
}

th::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #333;
}

th::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-top: 1px solid #333;
}

td {
    padding: 12px 5px;
    border: 1px solid #333;
    text-align: center;
    background: #000;
}

td:nth-child(2),
td:nth-child(5) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:nth-child(5) {
    text-align: left;
}

th:nth-child(1), td:nth-child(1) { width: 5%; }
th:nth-child(2), td:nth-child(2) { width: 12%; }
th:nth-child(3), td:nth-child(3) { width: 10%; }
th:nth-child(4), td:nth-child(4) { width: 12%; }
th:nth-child(5), td:nth-child(5) { width: 25%; }
th:nth-child(6), td:nth-child(6) { width: 8%; }
th:nth-child(7), td:nth-child(7) { width: 8%; }
th:nth-child(8), td:nth-child(8) { width: 20%; }

.action-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
    color: white;
}

.btn-edit {
    background-color: #088178;
    width: 45%;
}

.btn-delete {
    background-color: #b60213;
    width: 45%;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

.email-td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.user-action-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* detail page start */

.detail-container {
    width: 100%;
    height: auto;
    margin: 100px auto;
}

.detail-box {
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;
    gap: 40px;
}

.detail-box .left-box {
    width: 40%;
}

.left-box .img-box {
    width: 100%;
    max-width: 590px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #262626;
}

.img-box > img {
    width: 450px;
    height: 450px;
}


.product-detail-box {
    width: 60%;
}

.product-detail-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    gap: 20px;
    margin-top: 20px;
}

.price.product-price {
    margin-bottom: 15px !important;
}

.shop-details-desc {
    padding-right: 20px;
    color: #fff;
    width: 80%;
}

.shop-details-desc > p {
    line-height: 23px;
    text-align: justify;
    font-size: 18px;
}

.detail-quantity {
    margin: 20px 0;
    width: 80%;
    display: flex;
    gap: 20px;
}

.cart-plus-minus {
    display: flex;
    align-items: center;
    justify-content: center;
}

input#detail-quantity {
    width: 60px;
    height: 40px;
    outline: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.ctnbutton {
    width: 50px;
    height: 40px;
    background: #fff;
    border: 1px solid #ddd;
    user-select: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ctnbutton.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.add-to-cart-btn {
    width: 175px;
    height: 40px;
    text-align: center;
    background: #b60213;
    cursor: pointer;
    transition: all 0.5s ease;
}

.add-to-cart-btn:hover {
    background: #9b0110;
    color: #fff;
}

.add-to-cart-btn > p {
    line-height: 40px;
    font-weight: 600;
    user-select: none;
}

hr.style-detail {
    margin: 40px 0;
    width: 80%;
}

.cart-category span,
.cart-category p {
    display: inline;
}

.cart-category > span {
    color: #b60213;
    font-weight: 600;
    font-size: 18px;
}

.cart-category > span > p {
    color: #fff;
    margin-left: 3px;
}


/* cart page start  */

.cart-container {
    width: 100%;
    height: auto;
}

.cart-detail-container {
    width: 70%;
    margin: 100px auto;
}

.cart-detail {
    width: 100%;
}

.cart-detail .title {
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.cart-item-container {
    width: 100%;
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
    position: relative
}

.cart-item-container .empty-message {
    color: #b60213;
    text-transform: uppercase;
    font-size: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cart-item-titles,
.cart-items {
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid #fff;
    display: flex;
    margin-top: 50px;
    height: 40px;
    text-align: center;
}

.cart-item-titles {
    width: 98.5%;
}

.cart-items {
    margin-top: 0px;
    height: 150px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.cart-item-titles .image,
.cart-items .image {
    width: 20%;
}

.cart-items .image > div {
    width: 110px;
    height: 100px;
    background: #262626;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-items .image > div img {
    width: 90px;
    height: 90px;
}

.cart-item-titles .name,
.cart-items .name {
    width: 20%;
}

.cart-item-titles .price,
.cart-items .cart-price {
    width: 15%;
    font-weight: 500;
    font-size: 18px;
}

.cart-item-titles .quantity,
.cart-items .quantity {
    width: 15%;
}

.cart-plus-minus.quantity {
    height: 30px
}

.cart-plus-minus.quantity .ctnbutton {
    height: 100%;
    width: 40px;
    color: #000;
    font-size: 18px;
}

.cart-plus-minus.quantity .dec {
    padding-bottom: 11px
}

.cart-plus-minus.quantity #detail-quantity {
    height: 100%;
    width: 40px;
    font-size: 15px;
    font-weight: 500;
}

.cart-item-titles .total,
.cart-items .total {
    width: 15%;
}


.cart-item-titles .delete,
.cart-items .delete {
    width: 15%;
}

.cart-items .delete i {
    transition: all 0.5s ease;
}

.cart-items .delete i:hover {
    color: #b60213;
    cursor: pointer
}

.subtotal-container {
    height: 150px;
    border-bottom: 1px solid #fff;
    width: 98.5%;
    color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.payment-method h5{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px
}

.payment-method img {
    width: 300px;
    margin-top: 15px
}

.subtotal-container .subtotal .checkout {
    width: 150px;
    height: 45px;
    background-color: #b60213;
    transition: all 0.5s ease;
    border-radius: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    float: right;
    margin-top: 20px;
}

.subtotal .checkout:hover {
    color: #000;
    background: #fff;
    cursor: pointer
}

.cart-detail-container .help {
    width: 98.5%;
}


.help .help-title {
    margin-top: 35px;
}

.help .help-title h5 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
}

.help .titles {
    color: #fff;
    height: 35px;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 0 50px;
    border-bottom: 1px solid #fff;
}

.help .titles > div {
    transition: all 0.3s ease;
}

.help .titles > div.active {
    color: #b60213;
}

.help .titles > div:hover {
    color: #b60213;
    cursor: pointer
}

.help .content {
    margin-top: 25px;
}

.help .content .content-box p{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.help .content .content-box{
    display: none;
}

.help .content .content-box.active {
    display: block;
}

/* payment page start  */

.payment-container {
    width: 100%;
    height: auto;
}
.payment-box {
    width: 70%;
    margin: 30px auto;
    padding: 50px 30px;
    display: flex;
    gap: 0 30px;
    align-items: flex-start;
    justify-content: center;
}

.info-container {
    width: 45%;
}

.info-container > form {
    background: #262626;
    padding: 40px 20px;
    border-radius: 5px;
}

.fname-lname {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 15px;
}

.f-name,
.l-name {
    width: 50%;
}

.f-name > label,
.l-name > label {
    color: #fff;
}

.f-name > input,
.l-name > input,
.email-container > input,
.address-container > input,
.city-container > input {
    outline: 0;
    border: none;
    width: 100%;
    height: 45px;
    border: 2px solid #4A494E;
    padding-left: 15px;
    border-radius: 30px;
    background: #262626;
    color: #787e7e;
    font-size: 16px;
    margin-top: 7px
}

.info-container .button-container {
    width: 100%;
    height: 50px;
    background: #b60213;
    color: #fff;
    margin: 20px auto 0 auto;
    border-radius: 30px;
    overflow: hidden;
}

.info-container .button-container > button {
    border: 0;
    outline: 0;
    width: 100%
}

.detail-payment-container {
    width: 55%;
}

.payment-title > h2 {
    color: #fff;
    font-size: 28px;
    margin-left: 10px;
}

.product-payment-detail {
    max-height: 390px;
    overflow-y: scroll;
}

.product-payment-detail::-webkit-scrollbar {
    display: none;
  }

.product-payment-detail .product {
    height: 120px;
    width: 80%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #b60213
}

.product-payment-detail .pro-img {
    width: 120px;
    height: 90%;
    background: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.product-payment-detail .pro-img img {
    width: 80%;
    height: 100%;
}

.product-payment-detail .pro-name > span,
.product-payment-detail .pro-price > span {
    font-size: 12px;
}

.product-payment-detail .pro-price > span > i {
    color: #b60213
}

.product-payment-detail .pro-name > p,
.product-payment-detail .pro-price > p {
    font-size: 18px;
}

.payment-total {
    color: #fff;
    height: 75px;
    width: 80%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 2px solid #262626;
}

.payment-total > p {
    font-size: 20px;
    font-weight: 600
}

/* about pag start  */

.about {
    width: 100%;
    position: relative;
    background: #262626;
}

.about-banner {
    width: 100%;
    height: 300px;
    position: sticky; 
    top: 0px;
    left: 0;
    background: url('../images/about-page/banner1.jpg') no-repeat center;
    background-size: cover;
    z-index: 1;
}

.collection-container {
    position: relative;
    height: 690px;
    background: #262626;
    z-index: 2; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.box1, .box2, .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px; 
    height: 500px; 
}

.box1 img, .box2 img, .box3 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    z-index: 2;
    background: #262626;
    padding-bottom: 100px;
    padding-right: 20px;
    padding-left: 20px
}

.service {
    width: 450px;
    display: flex;
    color: #fff;
    gap: 15px;
}

.service .img-box {
    width: 13%;
    height: 70px;
}

.service .img-box img {
    width: 100%;
    height: 100%;
}

.service .content-box {
    width: 87%;
}

.service-title {
    font-size: 18px;
    font-weight: 600
}

.service-title::after {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    background: #b60213;
    margin-top: 10px;
}

.service .content-box .content {
    margin-top: 15px;
}

.about-info-box {
    background: url('../images/about-page/banner2.jpg') no-repeat center;
    position: relative;
    z-index: 2;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    width: 90%;
    height: 70%;
    border: 5px solid #b60213;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 70px;
}

.info-content h2 {
    text-transform: capitalize;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 20px;
}

.info .btn {
    border: 2px solid #b60213;
    cursor: pointer;
    transition: all 0.4s ease;
}

.info .btn p {
    padding: 10px 40px;
    font-size: 18px;
}

.info .btn:hover {
    color: #b60213;
}

.description-container {
    position: relative;
    z-index: 2;
    background: #000;
    padding-top: 120px;
}

.description {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 50px;
    color: #fff
}

.our-team {
    width: 85%;
    position: relative;
    background: #000;
    z-index: 2;
    margin: 100px auto 200px auto;
    color: #fff;
}

.team-title {
    text-align: center;
}

.team-title span {
    font-size: 18px;
}

.team-title h1 {
    font-size: 38px;
    margin: 15px 0 30px 0;
}

.team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.member-box {
    height: 370px;
    width: 370px;
    text-align: center;
}

.member-box img {
    width: 100%;
    height: 100%;
}

.member-box h4 {
    font-size: 25px;
    margin: 15px 0;
}


/* footer section start  */
.footer-section {
    background-image: url('../images/footer-bg.png');
    /* background-image: url('../images/watches/dog.png'); */
    width: 100%;
    height: auto;
    padding-top: 90px;
    background-size: 100% 100%;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section {
    border-bottom: 1px solid #080808;
    width: 100%;
}
.follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow .title {
    margin-bottom: 30px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.follow .contact {
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
}

.follow .contact > a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: #080808;
    margin: 0 60px;
    transition: all 0.7s ease;
}

.follow .contact > a:hover {
    color: #b60213;
}
.contact > a img {
    margin: 0 7px;
}

.copyright-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.copyright-section > p {
    color: #080808;
    font-size: 16px;
}




/* media query start  */

@media (max-width: 1800px) {

      /* header  */

    .header-section {
        padding: 15px 0;
    }

    /* success && unsuccess message  */
    .success,
    .unsuccess {
        top: 27%;
    }

    .cart-detail-box{
        right: -350px;
    }

    .carousel-container {
        width: 1290px;
    }

    .featured-product > div {
        width: 1100px;
    }

    /* sign up && sign in && add product && add user forms  */

    .sign-up-bg-container {
        width: 55%;
    }

    .sign-up-form,
    .sign-in-form,
    .add-product-form,
    .add-user-form {
        width: 45%;
    }

    .sign-up-bg {
        background-position: -30px 0;
    }

    /* shop page  */

    .product-list {
        width: 94%;
        gap: 50px;
    }

    /* about page  */
    .box1, .box2, .box3 {
        width: 400px; 
    }
}

@media (max-width: 1450px) {
    /* header  */

    .header-section {
        padding: 15px 0;
    }

    .list-item.basket-icon a i{
        right: 99%;
    }

    .cart-detail-box{
        right: 40%;
    }

    /* home page  */
    /* carousel  */
    .carousel-container {
        width: 970px;
    }

    .featured-product > div {
        width: 770px;
    }

    /* shop page  */
    
    .product-list {
        width: 100%;
        padding: 0 40px;
        gap: 40px;
    }

    .product-list .product-box {
        width: 30%;
        max-width: 350px;
    }

    .product-img-box {
        max-width: 350px;
        height: 350px;
        background-color: #262626;
    }

    .product-img-box > img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    /* sign up && sign in && add product && add user forms  */

    .sign-up-bg {
        background-position: -100px 0;
    }

    .sign-up,
    .sign-in,
    .add-product,
    .add-user {
        width: 100%;
        padding: 10px 0px;
    }

    /* detail page  */

    .detail-box {
        width: 90%;
    }

    .detail-box .left-box {
        width: 45%;
    }

    .product-detail-box {
        width: 55%;
    }

     /* about page  */

    .collection-container {
        gap: 20px;
    }

    .box1, .box2, .box3 {
        width: 350px; 
    }

    .description {
        width: 100%;
        gap: 35px;
        padding: 0 40px
    }

    .img-desc-box {
        width: 50%;
    }

    .img-desc-box img {
        width: 100%
    }

    .text-content {
        width: 50%;
    }

    .our-team {
        width: 90%;
    }

    .member-box {
        height: 320px;
        width: 320px;
    }

    .about-info-box {
        background: url('../images/about-page/banner2.jpg') no-repeat center;
        background-size: cover
    }

    .info {
        padding: 0 15px;
    }

    .info .info-content {
        width: 75%;
    }
}



@media (max-width: 1200px) {
    /* header section  */
    .header-section {
        padding: 15px 0;
    }

    .our-watches h2.title {
        margin-right: 160px;
    }
    

    .our-watches > div {
        margin-left: 80px;
    }

    .first-watch {
        margin-right: 100px;
    }

    .second-watch {
        margin-right: 0;
    }

    /* home page  */
    /* carousel  */
    .carousel-container {
        width: 640px;
    }

    .featured-product > div {
        width: 440px;
    }

    .navigation {
        transform: translateY(210px);
    }

    .carousel-container {
        width: 970px;
    }

    .featured-product > div {
        width: 770px;
    }
    
    .prev {
        left: 425px;
    }
    
    .next {
        right: 425px;
    }

    .feedback-title .title {
        font-size: 54px;
        line-height: 74px;
    }

    .comments-container {
        width: 95%;
        gap: 15px;
    }

    .comments {
        padding: 40px 20px;
    }

    /* sign up && sign in && add product && add user forms  */
    .user-role {
        height: 60px;
    }

    /* shop page  */
    .shop-banner {
        background-position: 85% center;
        margin-top: -120px;
    }

    .product-container {
        margin: 70px 0 120px 0;
    }

    .product-list {
        padding: 0 20px;
    }

    .product-list .product-box {
        max-width: 320px;
    }

    .product-img-box {
        max-width: 320px;
        height: 320px;
    }

    .shop-carousel-item {
        flex: 0 0 25%;
    }

    /* sign up && sign in && add product && add user forms  */

    .sign-up-container,
    .sign-in-container,
    .add-product-container,
    .add-user-container {
        padding: 50px 0 100px 20px;
    }

    .sign-up-bg {
        background-position: -230px 0;
    }

    .sign-up > input,
    .sign-in > input,
    .add-product > input,
    .sign-up-password > input,
    .sign-in-password > input,
    .add-product > textarea,
    .add-user-container input {
        height: 60px;
    }

    /* detail page  */
    .detail-box {
        width: 95%;
    }

    .detail-box .left-box {
        width: 50%;
    }

    .product-detail-box {
        width: 50%;
    }

    .shop-details-desc {
        padding-right: 0px;
        width: 90%;
    }

    /* about page  */
    .collection-container {
        gap: 20px;
        height: auto
    }

    .box1, .box2, .box3 {
        width: 300px; 
    }

    .description {
        gap: 30px;
    }

    .img-desc-box {
        width: 40%;
    }

    .text-content {
        width: 60%;
    }

    .our-team {
        width: 95%;
        gap: 20px
    }

    .member-box {
        height: 280px;
        width: 320px;
    }

    .about-info-box {
        height: 350px;
    }

    .info-content {
        width: 70%;
    }

    /* admin table  */
    .table-container {
        width: 95%;
        margin: 50px auto 75px auto;
    }

    .table-container.user-list {
        width: 70%;
    }
}


/* large tablet  */
@media (max-width: 990px) {
    /* header section  */
    .header-section {
        height: 80px;
        /* background-image: url(""); */
        background: #fff;
        background-size: 0%;
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .logo-container {
        margin-left: 20px;
        margin-top: 30px;
    }

    .list-item.basket-icon .cart-detail-box {
        height: auto;
    }

    /* navbar for tablet and mobile device  */
    .list ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 250px;
        background-color: #fff;
        transition: 0.5s;
        padding-top: 20px;
        padding-left: 5px;
        z-index: 999;
    }

    .list ul > li#close {
        display: block;
    }

    .open-icon {
        display: block;
        position: absolute;
        top: 25px;
        right: 20px;
    }

    .list ul > li {
        margin-top: 10px;
    }
    
    .list ul > li a{
        padding: 10px;
    }

    .cart-detail-box{
        left: 150px;
        top: 0px;
    }
    
    .list-item.basket-icon a i{
        left: 170px;
        bottom: 35px;
        padding-right: 40px;
    }

     /* success && unsuccess message  */
    .success,
    .unsuccess {
        width: 350px;
        top: 15%;
    }

     /* home page  */
    .our-watches h2.title {
        margin-right: 40px;
    }

    .our-watches > div {
        margin-left: 80px;
        width: 300px;
    }

    .watch-product {
        padding: 20px;
        width: 95%;
        max-width: none;
    }
    
    .watch img {
        max-width: 300px;
    }

    .watch .img-1 {
        height: 300px;
    }

    .second-watch {
        margin-left: 50px;
    }

    .feedback-area {
        background-position: 30% center;
    }

    .comments-container {
        width: 98%;
        gap: 10px;
    }

    .comments {
        padding: 40px 5px;
    }

    .feedback-title .title {
        font-size: 50px;
    }

    .product-management {
        top: 288px;
    }

    .watch-detail .description {
        padding: 0
    }


    /* shop page  */
    .shop-banner {
        background-position: 80% center;
        margin-top: 0;
    }

    .product-list {
        gap: 29px;
    }

    .product-list .product-box{
        width: 50%;
        max-width: 350px;
    }

    .product-img-box {
        max-width: 350px;
        height: 350px;
    }

    .shop-carousel-item {
        flex: 0 0 33.33%;
    }

    /* about page  */
    .collection-container {
        gap: 20px;
        height: auto;
        padding: 50px 0;
    }

    .box1, .box2, .box3 {
        width: 300px;
        height: 300px 
    }

    .description {
        gap: 30px;
        flex-direction: column-reverse;
    }

    .img-desc-box {
        width: 90%;
        height: 600px
    }

    .img-desc-box img {
        height: 100%
    }

    .text-content {
        width: 90%;
    }

    .info {
        justify-content: center;
        padding: 0 70px;
        flex-direction: column;
        gap: 30px 0;
    }

    .info-content {
        width: 90%;
        text-align: center
    }

    .our-team {
        width: 100%;
        gap: 20px;
        padding: 0 25px
    }

    .member-box {
        height: 200px;
        width: 300px;
    }

    .member-box h4 {
        font-size: 18px;
    }

    .service-container {
        gap: 40px 10px;
    }

    .service {
        flex-direction: column;
        width: 350px;
    }

    .service .content-box .content {
        text-align: justify

    }

    .service .img-box {
        display: none
    }

    /* footer section  */
    .footer-section {
        background-image: none !important;
        background: #fff;
    }

    .follow .contact > a {
        margin: 0 30px;
    }

    .carousel-container {
        width: 640px;
    }

    .featured-product > div {
        width: 450px;
    }

    .navigation {
        transform: translateY(210px);
    }
    
    .prev {
        left: 255px;
    }
    
    .next {
        right: 260px;
    }

    /* sign up && sign in && add product && add user forms  */

    .sign-up-bg-container {
        width: 35%;
    }

    .sign-up-form,
    .sign-in-form,
    .add-product-form,
    .add-user-form {
        width: 65%;
    }

    .sign-up-bg {
        background-position: -600px 0;
    }


    /* detail page  */
    .detail-box {
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .detail-box .left-box {
        width: 80%;
    }

    .left-box .img-box {
        max-width: 100%;
        height: auto;
    }

    .product-detail-box {
        width: 100%;
        text-align: center;
    }

    .product-detail-content {
        align-items: center;
        margin-top: 0;
        gap: 10px;
    }

    .shop-details-desc {
        text-align: center;
        width: 100%;
    }

    .shop-details-desc p{
        text-align: center;
    }

    .detail-quantity {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    hr.style-detail {
        margin: 40px 0 20px 0;
        width: 100%;
    }

    /* admin table  */
    th, td {
        padding: 10px 3px;
        font-size: 14px;
    }

    tbody .btn { 
        padding: 5px 8px;
        font-size: 12px;
    }

    .table-container.user-list {
        width: 80%;
    }
}



/* tablet  */
@media (max-width: 768px) {
    /* header  */
    .logo-container {
        display: none;
    }

    .list-item.basket-icon a i{
        left: 0px;
        bottom: 0px;
    }
    
    .cart-detail-box{
        left: 0px;
        top: 40px;
        width: 400px;
        height: 280px;
    }


    /* home page  */
    .watch-product {
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 15%;
    }

    .watch {
        width: 100%;
    }

    .watch-product.second {
        flex-direction: column-reverse;
    }

    .first-watch {
        margin-right: 100px;
        margin: 0;
    }

    .watch .img-1 {
        height: 300px;
    }

    .second-watch {
        margin-left: 0;
    }

    .watch-detail {
        width: 100%;
        padding: 70px 20px;
        text-align: center;
    }

    .our-watches h2.title {
        margin-right: 0px;
        margin-bottom: 30px;
        text-align: center;
        border-bottom: 2px solid #fff;  
    }

    .our-watches > div {
        display: none;
    }

    /* carousel  */
    .carousel-container {
        width: 310px;
    }

    .featured-product > div {
        width: 140px;
    }

    .featured-product p {
        font-size: 16px;
        margin: -100px 10px 0 0;
    }

    .navigation {
        transform: translateY(210px);
    }
    
    .prev {
        left: 100px;
    }
    
    .next {
        right: 100px;
    }

    /* feedback-area  */
    .feedback-area {
        height: auto;
        background-position: 60% center;
    }

    .comments-container {
        flex-wrap: wrap;
    }

    .feedback-title .title {
        font-size: 40px;
    }

    .feedback-title > p {
        font-size: 18px;
        max-width: none;
    }

    /* shop page  */

    .product-list {
        gap: 30px;
        padding: 0 50px;
    }

    .product-list .product-box {
        width: 100%;
        max-width: 450px;
    }

    .product-img-box {
        max-width: 450px;
        max-height: 450px;
    }


    .shop-carousel-item {
        flex: 0 0 50%;
    }

    /* sign up && sign in && add product && add user forms  */

    .sign-up-bg-container {
        display: none;
    }

    .sign-up-form,
    .sign-in-form,
    .add-product-form,
    .add-user-form {
        width: 85%;
    }

    .sign-up-title,
    .sign-in-title,
    .add-product-title,
    .add-user-title {
        font-size: 20px;
    }

    /* about page  */
    .box1, .box2, .box3 {
        width: 80%;
        height: 80%
    }

    .description {
        gap: 30px;
        flex-direction: column-reverse;
    }

    .img-desc-box {
        width: 95%;
        height: 450px
    }

    .our-team {
        gap: 0px;
        padding: 0 10px;
    }

    .team {
        gap: 90px 10px;
        flex-wrap: wrap;
    }

    .member-box {
        height: 200px;
        width: 220px;
    }

    .member-box h4 {
        font-size: 15px;
    }

    .about-info-box {
        height: 300px;
    }

    .info {
        border-width: 3px;
        width: 90%;
        padding: 30px 20px;
        gap: 20px 0;
    }

    .info-content {
        width: 90%;
    }

    .info-content h2 {
        font-size: 25px;
    }

    .info .btn {
        width: fit-content;
    } 

    .info .btn p {
        padding: 5px 15px;
        font-size: 16px
    }

    .service {
        width: 500px;
        padding-left: 50px
    }

    /* footer section  */
    .follow .contact {
        flex-wrap: wrap;
    }

    .follow .contact > a {
        margin: 10px 15px;
    }

    .copyright-section {
        padding: 0 20px;
    }

     /* detail page  */
    .detail-box {
        width: 80%;
    }

    /* admin table  */

    .table-container {
        width: 100%;
        margin: 20px auto;
        overflow-x: auto;
    }

    table {
        table-layout: auto;
        min-width: 800px; 
    }

    th, td {
        padding: 8px 10px;
        min-width: 80px;
        font-size: 13px;
    }

    td:nth-child(5) { 
        min-width: 150px;
    }

    .action-buttons {
        flex-direction: column;
        gap: 4px;
    }


    tbody .btn {
        width: 90%;
        padding: 4px 6px;
        font-size: 11px;
    }

    .table-container.user-list {
        width: 100%;
    }

    .user-action-buttons {
        gap: 5px;
    }


}


/* mobile  */

@media (max-width: 480px) {

    /* header  */
    
    .cart-detail-box{
        width: 320px;
        height: auto;
    }

    .cart-detail-box .product-box {
        padding: 0 5px;
    }

     /* success && unsuccess message  */
    .success,
    .unsuccess {
        width: 300px;
    }

    /* home page  */
    .banner_title {
        font-size: 40px;
    }

    .watch-product {
        padding: 0 5px
    }

    .watch-detail {
        padding: 70px 10px;
    }

    .second-watch {
        margin-left: 0px;
    }

    /* feedback area */
    .feedback-title .title {
        font-size: 30px;
    }

    .feedback-title > p {
        font-size: 17px;
        margin: 0 10px;
        text-align: center;
    }

    .comments-container {
        width: 95%;
        gap: 20px;
    }

    /* sign up && sign in && add product && add user forms  */
    .sign-up-container,
    .sign-in-container,
    .add-product-container,
    .add-user-container {
        padding: 50px 0;
    }

    .sign-up-title,
    .sign-in-title,
    .add-product-title,
    .add-user-title {
        font-size: 18px;
    }

    .sign-up-form,
    .sign-in-form,
    .add-product-form,
    .add-user-form {
        width: 90%;
    }

    .sign-up-password,
    .sign-in-password {
        width: 100%;
    }

    .sign-up-container input,
    .sign-in-container input,
    .add-product-container input,
    .add-user-container input,
    .sign-up-password > input,
    .sign-in-password > input,
    .add-product textarea {
        width: 100%;
        font-size: 16px;
    }

    .user-role {
        width: 100%;
        height: 60px;
        font-size: 16px;
    }

    .show-img {
        width: 100% !important;
    }
    

    /* shop page  */

    .shop-banner .banner > h4 {
        font-size: 25px;
    }

    .product-list {
        padding: 0 20px;
    }


    /* detail page  */
    .detail-box {
        width: 90%;
    }

    .img-box > img {
        width: 320px;
        height: 320px;
    }

    /* about page  */

    .about-info-box {
        height: 330px;
    }

    .description {
        padding: 0 15px
    }

    .img-desc-box {
        width: 100%;
        height: 400px
    }

    .text-content {
        width: 100%;
        text-align: justify
    }

    .team {
        gap: 90px 10px;
        flex-wrap: wrap;
    }

    .member-box {
        height: 320px;
        width: 320px;
    }

    .member-box h4 {
        font-size: 17px;
    }

    .info {
        width: 95%;
        padding: 15px 7px;
        gap: 7px 0;
    }

    .info-content {
        width: 95%;
    }

    .info-content h2 {
        margin-bottom: 15px;
    }

    .info .btn {
        text-align: center
    }

    .info .btn a p{
        padding: 5px;
        font-size: 13px;
    }

    .service-container {
        gap: 40px 10px;
    }

    .service {
        width: 95%;
        padding: 0 0 0 15px;
        gap: 10px 0
    }

    /* admin table  */

    .table-container {
        margin: 10px auto;
    }

    table {
        min-width: 600px;
    }

    th, td {
        padding: 6px 8px;
        font-size: 12px;
    }

    td:nth-child(5) {
        min-width: 120px;
    }

    tbody .btn {
        padding: 3px 5px;
        font-size: 10px;
    }


}